<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <script src="./vue.js"></script>
  <title>TO DO LIST</title>
</head>
<body>
  <div id="app">
    <section class="main">
      <div class="addMenu">
        <form class="addMenu__items">
          <input 
          autofocus 
          autocomplete="off" 
          class="addMenu__text" 
          type="text" 
          placeholder="Title..." 
          v-model="newToDoTitle"
          >
          <button 
          class="add__button"
          type="button"
          v-on:click="addButton"
          >Add</button>
        </form><!-- /.addMenu__items --> 
      </div><!-- /.addMenu -->

      <div class="listWrapper">
        <ul id="lists" class="list__items">

          <li class="list__item" v-for="(toDo, index) in filteredToDos">
            <input 
            class="list__item__checkbox" 
            type="checkbox" 
            v-model="toDo.completed"
            >
            <label v-bind:class="{completed: toDo.completed}">
              {{ toDo.title }}
            </label>
            <button 
            class="deleted" 
            v-on:click="deletedToDo(index)">
            </button>
          </li><!-- /.__list__item -->      
              
        </ul><!-- /.list__items -->
      </div><!-- /.listWrapper -->

      <div class="bottom">
        <div class="bottom__count">
          <span>{{toDos.length}}</span> {{toDos.length | pluralize}} left
        </div><!-- /.bottom__count -->
        <div class="bottom__buttonWrapper">
          <button 
          class="bottom__button" 
          type="button"
          v-bind:class="{selected: filter == 'all'}"
          v-on:click="filter = 'all'" 
          >
          All
          </button>
          <button 
          class="bottom__button"
          type="button"
          v-bind:class="{selected: filter == 'active'}"
          v-on:click="filter = 'active'" 
          >
          Active
          </button>
          <button 
          class="bottom__button"
          type="button"
          v-bind:class="{selected: filter == 'completed'}"
          v-on:click="filter = 'completed'" 
          >
          Completed
        </button>
        </div><!-- /.bottom__buttonWrapper -->
      </div><!-- /.bottom -->
    </section><!-- /.main -->
  </div><!-- /#app -->


  <script>
    let app = new Vue({
      el: '#app',
      data: {
        newToDoTitle: null,
        toDos: [
        ],
        filter: 'all',
      },

      filters: {
        pluralize(n) {
          if (n === 1) {
            return 'item'
          } else {
            return 'items'
          }
        }
      },

      methods: {
        addButton() {
          if(!this.newToDoTitle) {
            return
          } else {
            this.toDos.push({title: this.newToDoTitle, completed: false});
            this.newToDoTitle = null;
          }
        },
        deletedToDo(index) {
          this.toDos.splice(index, 1); //splice削除
        }
      },

      computed: {
        filteredToDos() {
          if(this.filter === 'all') {
            return this.toDos
          } else if(this.filter === 'completed') {
            return this.toDos.filter((toDo) => {
              return toDo.completed
            })
          } else if(this.filter === 'active') {
            return this.toDos.filter((toDo) => {
              return !toDo.completed
            })
          }
        }
      },
    });
  </script>

  <script src="https://kit.fontawesome.com/59f9f0717a.js" crossorigin="anonymous"></script>
</body>
</html>