@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  cursor: pointer;
  height: 100%;
  outline: none;
}

body {
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

/* main */
.main {
  box-shadow: 0 0 4px rgb(197, 197, 197);
  margin: 100px auto; 
}

.addMenu__items {
  border-bottom: 1px solid #d3d1d1;
  display: flex;
  margin: 5px 5px 0 5px;
  text-align: center;
}

.addMenu__text {
  background-color: white;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.addMenu__text::placeholder {
  color: #d3d1d1;
  padding-left: 10px;
}

.add__button {
  color: white;
  background-color: #2685f1;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  line-height: 43px;
  padding: 0 10px;
  margin: 3px 0;
}

.add__button:hover {
  background-color: #005cc8;
}

.list__items {
  margin: 0 auto;
  padding: 0 5px 5px 5px;
  width: 100%;
}

.list__item {
  border-bottom: 1px solid #d3d1d1;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  list-style: none;
  padding: 5px 0 5px 5px;
  text-align: left;
  transition: 0.2s;
  width: 100%;
}

.list__item:hover {
  background-color: rgb(250, 248, 248);
}

.list__item__checkbox {
  background-color: #2685f1;
  border: 1px solid #444444;
  height: 30px;
  width: 30px;
}

.list__item label {
  line-height: 30px;
  padding: 0 0 0 20px;
}

.bottom {
  color: #bdb9b9;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bottom__button {
  background-color: white;
  border: 1px solid white;
  color: #bdb9b9;
  margin: 0 10px;
  padding: 5px 7px;
}

.completed {
  color: #d3d1d1;
  text-decoration: line-through;
}

.deleted {
  border: none;
  margin: 0 10px 0 auto;
}

.deleted::after {
  background-color: white;
  color: #bdb9b9;
  content: "×";
  font-size: 30px;
  line-height: 30px;
  padding: 0 5px;
}

.deleted:hover::after {
  color: #2685f1;
}

.selected {
  border: 1px solid #bdb9b9;
  border-radius: 5px;
  padding: 5px 7px;
}